# Set default behavior as git deciding what to do

* text=auto

# Define binary file patterns

*.class binary
*.jar binary
*.bmp binary
*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
*.tif binary
*.tiff binary

# Define text file patterns for fixed file names

*.txt text
*.md  text
*.ser text
*.dtd text
*.java text
makefile text

# Define text file patterns for Section file names

# Python program to generate:

#   for i in range(58):
#     print ( "*." + str(i) + " text" )   

*.0 text
*.1 text
*.2 text
*.3 text
*.4 text
*.5 text
*.6 text
*.7 text
*.8 text
*.9 text
*.10 text
*.11 text
*.12 text
*.13 text
*.14 text
*.15 text
*.16 text
*.17 text
*.18 text
*.19 text
*.20 text
*.21 text
*.22 text
*.23 text
*.24 text
*.25 text
*.26 text
*.27 text
*.28 text
*.29 text
*.30 text
*.31 text
*.32 text
*.33 text
*.34 text
*.35 text
*.36 text
*.37 text
*.38 text
*.39 text
*.40 text
*.41 text
*.42 text
*.43 text
*.44 text
*.45 text
*.46 text
*.47 text
*.48 text
*.49 text
*.50 text
*.51 text
*.52 text
*.53 text
*.54 text
*.55 text
*.56 text
*.57 text

